<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script type="text/javascript" src="/javascripts/utils/domquery.js"></script>
</head>
<body>
	{{{body}}}
	<script type="text/javascript" src="/javascripts/methods/loadData.js"></script>
	<script type="text/javascript" src="/javascripts/methods/createData.js"></script>
	<script type="text/javascript" src="/javascripts/methods/deleteData.js"></script>

	<script type="text/javascript" src="/javascripts/app.js"></script>
</body>
</html>