<h1>{{title}}</h1>

<!-- <table>
  <tr>
    <th>name</th>
    <th>date</th>
    <th>currency</th>
  </tr>
  {{# each transactions }}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.date}}</td>
      <td><b>{{this.cost}}</b></td>
    </tr>
  {{/each}}
</table> -->

<div id="app">
	<table id="app-transactions">
		<tr>
	    <th>name</th>
	    <th>date</th>
	    <th>currency</th>
	  </tr>

	</table>
</div>